/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(10,227,60);
background: linear-gradient(90deg, rgba(10,227,60,1) 9%, rgba(34,69,219,1) 99%);
}

.titulo1 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    height: 200px;
    width: 200px;
    perspective: 1000px;
    margin: 100px auto;
    transform:scale(.9)rotateX(-10deg);
    transform-style: preserve-3d; 
  
}
.contenedor .box{
    animation: rotar 50s infinite linear;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
   transition: 2s;
}
.elementos{
    height: 200px;
    width: 150px;
    position: absolute;
    box-shadow: 0 0 10px #fff;
}
:root{
    --transladacion:translateZ(250px);
}
.elementos:nth-child(1){
    transform: rotateY(0deg) var(--transladacion);
}
.elementos:nth-child(2){
    transform: rotateY(45deg) var(--transladacion);
}
.elementos:nth-child(3){
    transform: rotateY(90deg) var(--transladacion);
}
.elementos:nth-child(4){
    transform: rotateY(135deg) var(--transladacion);
}
.elementos:nth-child(5){
    transform: rotateY(180deg) var(--transladacion);
}
.elementos:nth-child(6){
    transform: rotateY(225deg) var(--transladacion);
}
.elementos:nth-child(7){
    transform: rotateY(270deg) var(--transladacion);
}
.elementos:nth-child(8){
    transform: rotateY(315deg) var(--transladacion);
}
.elementos:nth-child(9){
    transform: rotateY(360deg) var(--transladacion);
}
.elementos img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
    position: absolute;
    backface-visibility: hidden; 
}

.piso{
    height: 43em;
    width:43em;
    transform: rotateX(90deg) translateX(-280px) translateY(40px)translateZ(140px);
     background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
    border-radius: 50%;
    transform-style: preserve-3d;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    height: 200px;
    width: 500px;
    flex-direction: column;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    transform: rotateX(-90deg);

}

@keyframes rotar{
   
    to{
        transform: rotateY(-360deg) ;
    }
}