header{
     width: 100%;
    max-width : 1280px;
    margin: auto;
   
}


.titulo{
     display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 50px;
}


.logouis{
    height: 100px;
    width: 180px;
    margin: 25px;
}
body{
        background-image: url(images/background-2076334_1280.jpg);
     height: 30vh;  /* controla lo largo de la pagina */ 
    background-size: cover; /* acomada la imagen en la pantalla */
    font-family: 'Titillium Web', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}



.contenedor{
    margin: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
}


.datos{
    flex-direction:row;
    margin-top: 10vh;
    color: black;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-align-last: center; 
}
.contra{
    color: black;
    flex-direction: column;
    width:max-content;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

input{
     padding: 10px;
    background: #E6F9FF;
    border-radius: 20px;
    margin-bottom: 10px;
     border-style: solid;
     border-color: rgb(14, 81, 204);
     text-align-last: center; 
}

.identi{
    margin-top: 20px;
    
}

fieldset{
    border-radius: 20px;
    margin-bottom: 10px;
     border-style: solid;
     border-color:rgb(14, 81, 204);
}
.botones{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    float: left;
    max-width : 1280px;
    margin: auto;
}

select{
     padding: 10px;
    background: #E6F9FF;
    border-radius: 20px;
    margin-bottom: 10px;
     border-style: solid;
     border-color: rgb(14, 81, 204);
    text-align-last: center;  
}
textarea{
    padding: 10px;
    background: #E6F9FF;
    border-radius: 20px;
    margin-bottom: 10px;
     border-style: solid;
     border-color: rgb(14, 81, 204);
    text-align-last: center; 
}

.final{
    font-family: 'Titillium Web', sans-serif;

    color: black;
    background:#5DADE2;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(14, 81, 204);
    border-radius: 20px;
    max-width : 1280px;
    width: 15%;
    font-size: 80%;
}

.ppe{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 75%;
    float: left;
    max-width : 1280px;
    margin: auto;
    position: absolute;
    
}

.menu{
    font-family: 'Titillium Web', sans-serif;
    color: black;
    background:#5DADE2;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    padding: 2px;
    position: relative;
    font-size: 10;
    
    text-decoration: none;
}
