body{
    background-color: #AED6F1;
    max-width : 1280px;
    margin: auto;
    display: flex;
    align-content: center;
}
nav{
    font-family: 'Titillium Web', sans-serif;
    width: 25%;
    max-width : 1280px;
    margin: auto;
    border-style: solid;
    border-color: rgb(14, 81, 204);
    background-color:  #C5E4EE;
    flex-direction: column;
    margin-top: 20vh;
    
}
.menu{
    font-family: 'Titillium Web', sans-serif;
    background-color:  #C5E4EE;
    background-size: auto; /* acomada el fondo en la pantalla */
    text-align: center;
    border-bottom: solid;
    border-color: rgb(14, 81, 204);
}

a{
    color: red;
    text-decoration: none;
}
