header{
    font-family: 'Titillium Web', sans-serif;
  
    background-image: url(images/beach-1852945_1280.jpg);  /* pone fondo de pantalla */
    height: 100vh;  /* controla lo largo de la pagina */ 
    background-size: cover; /* acomada la imagen en la pantalla */
    

}

header h1{
    text-align: center;
    font-size: 50px;
}

.contenedor{   /* controla la primera parte de la pagina */
    width: 90%;
    max-width : 1280px;
    margin: auto;
}

.cabeza{
    display: flex;
    align-items: center;
    justify-content: center;

}

.logohtml{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.logouis{
    height: 100px;
    width: 160px;
    margin: 25px;
}

.login{
    flex-direction: column;
    margin-top: 10vh;
    color: black;
    width: 80%;
    display: flex;
    align-content: center;
       
    
}
.contenedor2{   /* controla la primera parte de la pagina */
    width: 20%;
    max-width : 1280px;
    margin: auto;
}


body{
    margin: 0;
    padding: 0;
}

label{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

.cuadro{
    padding: 10px;
    background: #7fffd3;
    border-radius: 20px;
    margin-bottom: 10px;
    
}

.enviar{
    margin-top: 20px;
    padding: 8px;
    background: #ffac6f;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-bottom: 5px;
        
}

.final{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: blue;
}
