header{
    font-family: 'Titillium Web', sans-serif;
  
    background-image: url(images/beach-1852945_1280.jpg);  /* pone fondo de pantalla */
    height: 100vh;  /* controla lo largo de la pagina */ 
    background-size: cover; /* acomada la imagen en la pantalla */
    

}

header h1{
    text-align: center;
    font-size: 50px;
}

.contenedor{   /* controla la primera parte de la pagina */
    width: 90%;
    max-width : 1280px;
    margin: auto;
}

.cabeza{
    display: flex;
    align-items: center;
    justify-content: center;

}

.logohtml{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.logouis{
    height: 100px;
    width: 180px;
    margin: 25px;
}

.login{
    flex-direction: column;
    margin-top: 10vh;
    color: black;
    width: 80%;
    display: flex;
    align-content: center;
       
    
}
.contenedor2{   
    width: 25%;
    max-width : 1280px;
    margin: auto;
}


body{
    margin: 0;
    padding: 0;
}

label{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

.cuadro{
    padding: 10px;
    background: #7fffd3;
    border-radius: 20px;
    margin-bottom: 10px;
     border-style: solid;
    
}

.enviar{
    margin-top: 20px;
    padding: 8px;
    background: rgb(227, 8, 8);
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-bottom: 5px;
        
}

.final{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: blue;
}











































/* galeria imagenes */


#galeria {      
    display:flex;  /* para que se ponga las fotos una del lado de la otra*/
    flex-wrap: wrap; /*para que baje cuando ya no hay campos */
    
}

#galeria img{
    width: 100%; /*para que las imagenes ocupen todo el largo */
    
}

 .foto{
    width: 25%;     /* lo que la imagen va ocupar en el ancho */
    position: relative;   /* va de la mano con el absolute */ 
     overflow: hidden; /* efecto de agranda la imagen no se vea feo */
}

.oculto{
    position: absolute;   /* para que el texto se ubique dentro de la pagina */
    top: 0;            /* ubicar el texto dentro de la imagen*/
    left: 0;            
    background: #00000070;  /*color del fondo */
    width: 100%;          /*que ocupe todo */
    height: 100%;          /* que ocupe todo */
    color:white;
    text-align: center;
    display: none;     /* para que no se vea */
}

.oculto h4 {
    top: 40%;
    position: relative; /* acomdar el texto */
}

.agrandar{
    transform: scale(1.2,1.2); /* un elemento escale */
    transition: 0.2s;
}
