body{
    background-image: url(images/Fondo.png);
    background-color: #AC75F2;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align: center;
}

header{
    width: 100%;
    max-width: 1324px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header img{
    height: 13vh;
}

.contenedor{
    width:70%;
    max-width: 1280px;
    margin: auto;
    border: solid;
    border-color: #6608DD;
    border-radius: 15px;
    margin-top: 11vh;
    background-color: rgb(0 0 0 / 34%);
    color: aliceblue;
}

input, select{
    background-color: #D4C1ED;
    border-color: #6608DD;
    border-radius: 15PX;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


.renglon{
    display: flex;
    text-align: center;
    margin: 10px;
    justify-content: space-evenly;
}

.ppe{
    display: flex;
    text-align: center;
    justify-content: center;
}

.ppe a{
    padding: 15px 25px;
    text-decoration: none;
    color: bisque;
    border: solid;
    border-color: #D4C1ED;
    background-color: #6608DD;
}