<div class="contenedor">
    <div class="box" id="box">
        <div class="elementos">
          
            <img src="img/rock-ga47ea5a45_640.jpg" alt="">
        </div>
        <div class="elementos">
                <img src="./assets/1.jpg" alt="">
        </div>
        <div class="elementos">
                <img src="./assets/2.jpg" alt="">
        </div>
        <div class="elementos">
                 <img  src="./assets/3.jpg" alt="">
        </div>
        <div class="elementos">
               <img src="./assets/4.jpg" alt=""> 
        </div>
        <div class="elementos">
                <img src="./assets/5.jpg" alt="">
        </div>
        <div class="elementos">
               <img src="./assets/6.jpg" alt="">              
        </div>
        <div class="elementos">
        
               <img src="./assets/7.jpg" alt="">  
       
        </div>
         <div class="elementos">
        
               <img src="./assets/8.jpg" alt="">  
       
        </div>
        <div class="piso flex">
          <div class="titulo flex">
           <p>Desafio</p>
          </div>
        </div>
    </div>
</div>

   <div class="anos">
        <a href="#" routerLink="/crear-producto">Registrate</a>
        <a href="#" routerLink="/listar-producto">Ver Registros</a>
    </div>

<script src="app.js"></script>